<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI-calculator</title>
</head>
<body>
     <h1>BMI Calculator</h1>
    <form method="POST" action="/calculate">
      <div>
        <label>Weight (kg):</label>
        <input type="text" name="weight">
      </div>
      <div>
        <label>Height (m):</label>
        <input type="text" name="height">
      </div>
      <div>
        <button type="submit">Calculate BMI</button>
      </div>
    </form>
</body>
</html>